Options -Indexes
DirectoryIndex index.php

<IfModule mod_php.c>
    php_flag display_errors off
</IfModule>

<Files "config.php">
    Require all denied
</Files>

<FilesMatch "^\.(?!well-known)">
    Require all denied
</FilesMatch>
